<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Telefon Parser</title>
</head>
<body>
  
  <header><div id="logo">Telefonparser</div></header>
  <main>
    <div class="grid">
    <p-card class="col-6">
      <form name="parsenumber">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-phone"></i>
          </span>
          <input pInputText name="inputNumber" [(ngModel)]="inputNumber" (keyup)="validateNumber($event)" placeholder="Telefonnummer" />
        </div>
        <p-divider></p-divider>
          <p-button (click)="parseNumber()" label="Parse" class="p-button-raised p-button-rounded p-button-success md-5"></p-button>
      </form>
    </p-card>

    <p-card class="col-6">
  <p-table [value]="parsedNumbers">
    <ng-template  pTemplate="header">
      <tr>
        <th>Landesvorwahl</th>
        <th>Ortsvorwahl</th>
        <th>Hauptwahl</th>
        <th>Durchwahl</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>{{rowData.landesvorwahl}}</td>
        <td>{{rowData.ortsvorwahl}}</td>
        <td>{{rowData.hauptwahl}}</td>
        <td>{{rowData.durchwahl ?? "-"}}</td>
      </tr>
    </ng-template>
  </p-table>      
    </p-card>
    </div>
  </main>

</body>
</html>
